<footer>
    <div class="footer-col">
        <h3><i class="fas fa-map-marker-alt"></i>Hệ thống cửa hàng</h3>
        <ul class="address tphcm">
            <p>TP HCM</p>
            <li><a href="#">123 Điện Biên Phủ, Quận 7</a></li>
            <li><a href="#">98 Mai Chí Thọ, Quận 2</a></li>
            <li><a href="#">7 Khu phố 6, Linh Trung, Thủ Đức</a></li>
            <li><a href="#">87 Đông Hòa, TP.Dĩ An</a></li>
        </ul>
        <ul class="address binh-duong">
            <p>Bình Dương</p>
            <li><a href="#">87 Đông Hòa, TP.Dĩ An</a></li>
        </ul>

    </div>
    <div class="footer-col">
        <h3><i class="far fa-question-circle"></i>Hỗ trợ khách hàng</h3>
        <ul>
            <li><a href="#">Chính sách bảo hành</a></li>
            <li><a href="#">Chính sách vận chuyển</a></li>
            <li><a href="#">Chính sách đổi hàng</a></li>
            <li><a href="#">Hướng dẫn thanh toán</a></li>
            <li><a href="#">Hướng dẫn chọn size</a></li>
        </ul>

        <ul>
        </ul>
    </div>
    <div class="footer-col">
        <div class="subscribe">
            <h3><i class="far fa-envelope"></i>Bản tin</h3>
            <p>Đăng ký nhận bản tin để không bỏ lỡ thông tin khuyến mãi,
                luôn nhận được chương trình ưu đãi đặc biệt. </p>
            <input type="text" placeholder="Email của bạn..." name="" id="">
            <button>Đăng ký</button>
        </div>

        <div class="social">
            <h3><i class="fas fa-link"></i>Kết nối</h3>
            <ul>
                <li><a href="#"><i class="fab fa-facebook-f"></i>Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter"></i>Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i>Instagram</a></li>
                <li><a href="#"><i class="fab fa-youtube"></i>Youtube</a></li>
            </ul>

        </div>

    </div>

    <div class="credit">
        <p>Copyright by <span>IE104</span> | All rights reserved.</p>
    </div>
</footer>