<main class="main-cart-empty">
    <h1> Giỏ Hàng Của Bạn</h1>
    <div class="box-cart-empty">
        <img src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" alt="">
        <p class="message-cart-empty"> Không có sản phẩm nào trong giỏ hàng của bạn</p>
        <a class="btn-continue-shopping" href="/">Tiếp tục mua sắm</a>
    </div>
</main>