<main class="main-order-success">
    <div class="icon-success">
        <i class="fas fa-check"></i>
    </div>
    <h1> Đặt hàng thành công</h1>
    <p class="message-thankyou-order-success">Cảm ơn bạn <strong>{{name}}</strong> đã quan tâm và mua hàng </p>
    <p class="message-contact-order-success">Chúng tôi sẽ liên hệ với bạn trong <strong>15 phút</strong> </p>
    <a class="btn-continue-shopping" href="/">Tiếp tục mua sắm</a>
</main>