<div class="form-container">
    <p class="error"> {{message}} </p>
    <form action="/signin" method="POST" class="form-login" id="login">
        <h1 class="form-title">Đăng nhập</h1>
        <div class="form-group">
            <input type="text" placeholder="Email/Số điện thoại" name="email">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Mật khẩu" name="password">
            <i class="fas fa-eye-slash eye"></i>
        </div>
        <button class="form-button">Đăng nhập</button>
        <p>Bạn chưa có tài khoản? <a id="linkSignup" href="/signup">Đăng ký</a></p>
    </form>
</div>

<script>
    const eyeSlashList = document.querySelectorAll('.eye')
    eyeSlashList.forEach(function(eyeSlash, index) {
        eyeSlash.onclick = (e) => {
            console.log(e.target)
            e.target.classList.toggle('fa-eye')
            e.target.classList.toggle('fa-eye-slash')
            const formGroup = e.target.parentElement
            const formControl = formGroup.children[0];
            if (formControl.type == 'text') {
                formControl.type = 'password'
            } else {
                formControl.type = 'text'
            }
        }
    })
</script>