.error {
  color: red;
}

.form-title {
  margin-bottom: 30px;
  text-align: center;
}

.form-container {
  width: 450px;
  max-width: 450px;
  margin: 120px auto;
  padding: 2rem;
  background-color: #f9f8f9;
}

.form-text {
  margin-bottom: 40px;
  position: relative;
}

.form-text input {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #ccc;
}
.form-button {
  height: 35px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #fa9e1b;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.select-address select[name="calc_shipping_provinces"] {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 15px;
}

.select-address .calc_shipping_sub-district {
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}
